.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
    /* color: black; */
	background-color: rgba(0,0,0,0.2);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.navbar-brand{
  font-size: 30px;
  color: black;
  padding-left: 25px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;

}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
    width: 50px;
    height: 50px;
	border: 2px solid black;
	margin-right: 25px;
    border-radius: 4px;
    padding: 8px 5px;
}



.icon-bar{
    display: block;
	background-color: black;
    width: 100%;
    height: 6px;
    border-radius: 2px;
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  /* color: #ff4532; */
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.collapse {
    display: none;
}

.navbar-toggle{
    display: none;
}



@media (max-width: 768px) {
    .navbar-toggle{
        display: flex;
    }

    .collapse {
        /* display: none; */
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: white;
    }

    .collapse.drop {
        display: block;
    }
}



li{
	box-sizing: border-box;
	width: 100%;
    border-bottom: 3px solid black;

}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	color: black;
    text-decoration: none;
}

.menu-item:hover{
	color: rgba(0,0,0,0.4);
}



.row{
	margin: 20px;
}

.content-cont{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

